<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfl8f0b6LwSBw3K5FsiG7nshfVkSoxGLk</string>
	<key>GCM_SENDER_ID</key>
	<string>826254865009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.financeTrackingApp</string>
	<key>PROJECT_ID</key>
	<string>financetrackinapp</string>
	<key>STORAGE_BUCKET</key>
	<string>financetrackinapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826254865009:ios:592093869b8e5b8819e1d0</string>
</dict>
</plist>